<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hybrid Framework Suite">
    <test name="Functional and Performance Tests">
        <classes>
            <class name="com.automation.tests.MasterSuiteTests"/>
            <class name="com.automation.tests.PerformanceTests"/> </classes>
    </test>
</suite>